<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-title style="text-align: center;">Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="nuevosProductosForm" (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descuento</ion-label>
      <ion-input formControlName="descuento" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio Final</ion-label>
      <ion-input formControlName="precioFinal" type="number"></ion-input>
    </ion-item>



    <ion-button expand="block" type="submit">{{ id ? 'Actualizar' : 'Guardar' }}</ion-button>
  </form>
</ion-content>
